@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.ant-carousel .slick-dots-bottom {
  bottom: 1.5rem;
}
/* .slick-dots {
  padding-top: 1rem;
}
.slick-dots > li {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.685);
}

.slick-dots > li.slick-active {
  background-color: black;
}

.slick-dots > li.slick-active > button {
  display: none;
} */
